<div class="article">
    <!-- <div class="article-title">
        <h2>
            <%= page.title %>
        </h2>
    </div> -->
    <div class="article-meta">
        <div class="article-date">
            <i class="fas fa-edit"></i>
            <%- date(page.date, "YYYY/MM/DD ddd HH:mm") %>&nbsp;&nbsp;&nbsp;
            <span class="just-a-temp"><span>
            <i class="fas fa-redo"></i>
            <%- date(page.updated, "YYYY/MM/DD ddd HH:mm") %>
        </div>
    </div>
    <div class="article-content">
        <%- page.content %>
    </div>

    <div class="totop">ToTOP</div>
</div>