<div class="article">
    <div class="article-title">
        <h2>
            <%= page.title %>
        </h2>
    </div>
    <div class="article-meta">
        <div class="article-date">
            <%- date(page.date, "YYYY-MM-DD") %>
        </div>
    </div>
    <div class="article-content">
        <%- page.content %>
    </div>
</div>