<div class="article">
    <!-- <div class="article-title">
        <h2>
            <%= page.title %>
        </h2>
    </div> -->
    <div class="article-meta">
        <div class="article-date">
            <i class="fas fa-edit"></i>
            <%- date(page.date, "YYYY/MM/DD ddd hh:mm:ss") %><br>
            <i class="fas fa-redo"></i>
            <%- date(page.updated, "YYYY/MM/DD ddd hh:mm:ss") %>
        </div>
    </div>
    <div class="article-content">
        <%- page.content %>
    </div>
</div>