<div class="footer">
    <a href="#">
        2018 <i class="fab fa-studiovinari"></i> <%= config.author %> <i class="fas fa-angle-double-up"></i>
    </a>
</div>

<%- js('js/totop.js') %>
<%- js('js/search.js') %>