<div class="header">
    <!-- <div class="logo">
        <a href="<%- url_for() %>"><%= config.title %></a>
    </div> -->
    <div class="logo">
        <img src="/images/logo.png" alt="Logo">
    </div>
    <div class="nav">
        <ul class="menu">
            <% for(name in theme.menu) { %>
                <li class="menu-item">
                    <a href="<%= url_for(theme.menu[name]) %>" class="menu-item-link">
                        <%- __('Menu.' + name) %>
                    </a>
                </li>
            <% } %>    
        </ul>
    </div>
</div>