<% if(page.total > 1) { %>
<div class="page-nav">
    <%- paginator({
            prev_text: "&laquo;" + __('Paginator.Prev'),
            next_text: __('Paginator.Next') + "&raquo;"
        }) %>
</div>
<% } %>