.archive
  {jk_border-style}

.post-item
  background-color: #ffffff
  border-bottom: 3px solid #eeeeee
  border-radius: 20px
  margin-bottom: 1%
  padding: 2%
  list-style: none
  transition: all 0.3s linear
  .post-date
    color: #999999
  .post-title
    text-decoration: none
    color: #333333
    font-size: 1.3em
    margin-left: 1%
  &:hover
    transform: scale(1.03)
  .post-title:hover
    color: #4169E1