.article
  {jk_border-style}
  .article-meta
    color: #999999
    border-bottom: 3px solid #eeeeee
    // box-shadow: 0 0 5px #1E90FF
    padding-bottom: 10px
    padding: 16px
    border-radius: 10px

.article-content
  a
    {jk_link-style}
  img
    {jk_img-style}
  blockquote 
    border-left: 2px solid #1E90FF
    margin: 0
    p, footer
      margin-left: 3%
  .hljs
    border: 2px solid #eeeeee
    border-radius: 9px
    padding: 3% 4%
    font-family: Consolas, Monaco, "楷体", "Noto Sans Mono"
    font-size: 15px
    // font-family: $font-family
  {jk_inline-code-style}

table
  {jk_table-style}


.totop
  background: rgba(0, 0, 0, 0.3)
  padding: 5px 9px
  border-radius: 2px
  position: fixed
  bottom: 100px
  left: 8%
  color: #ffffff
  transition: 0.1s all linear;
  visibility: hidden
  &:hover
    background: rgba(0, 0, 0, 0.6)

