.main
  margin: 0
  padding: 0

.post
  {jk_border-style}
  transition: all 0.3s linear
  &:hover
    transform: scale(1.03)
    background-color: #ffffff
  .post-title
    font-size: 1.2em
  .post-meta
    color: #999999
  a
    {jk_link-style}
  .post-content
    img 
      {jk_img-style}
    blockquote 
      border-left: 2px solid #1E90FF
      margin: 0
      p, footer
        margin-left: 3%
  .hljs
    border: 2px solid #eeeeee
    border-radius: 9px
    padding: 3% 4%
  {jk_inline-code-style}
    

