.main
  margin: 0
  padding: 0

.post
  {jk_border-style}
  transition: all 0.3s linear
  &:hover
    transform: scale(1.03)
    background-color: #ffffff
  a
    {jk_link-style}
  .post-title
    font-size: 1.2em
  .post-meta
    color: #999999
    

